*{
	background-color: grey;
	font-size: 20;
}


#fs{
	margin-top: 10px;
	background-color: A9A9A9;
max-width: 2000px;
max-height: auto;
}
.form{
		margin: 0 auto;
	width: 500px;
}
h1{
	font-size: 30px;
	text-align: center;
	background-color: grey;
	font-family: arial;
	color:black;
}

.form label{
	display: inline-block;
text-align:right;
float:left;
background-color: A9A9A9;
}
.form input{
	background-color: white;
	display: inline-block;
	text-align:left;
	float:right;
}
.form select{
	display: inline-block;
	text-align:left;
	float:right;
	background-color: white;
}

#sub{
	text-align: center;
	background: white;
	display: inline-block;
	text-align:center;
	float:center;
}

	border: 10px;
	vertical-align: center;
	text-align: center;

}